* {
    border: none;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    min-height: 0;
    padding: 1px 5px;
}

window#waybar {
    /* border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.75);
    /* padding: 15px; */
    transition-property: background-color;
    transition-duration: .5s;
}

tooltip {
     /* border-radius: 4px; */
     /* background-color: #bd93f9; */
    padding:0;
    margin:0;
}

tooltip label {
    padding:0;
    margin:0;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
}

window#waybar.chromium {
    border: none;
}

#workspaces{
    padding: 0px 0;
    transition: none;
}

#workspaces button {
    padding: 2px 10px;
    background-color: transparent;
    transition: none;
    color: #ffffff;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button.focused {
    padding-bottom: 0px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.8);
}

#workspaces button.urgent {
    padding-bottom: 0px;
    color: red;
    border-bottom: 2px solid rgba(255, 0, 0, 0.4);
}

#workspaces button:hover {
    padding-bottom: 0px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

#mode {
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#language,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd,
#custom-wireguard,
#custom-powerapplet,
#custom-bluetoothapplet
{
    padding: 0 12px;
    /* margin: 0 4px; */
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    margin-top: 3px;
}

#battery {
}

#battery.charging, #battery.plugged {
}

@keyframes blink {
    to {
    }
}

#battery.critical:not(.charging) {
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
}

#cpu {
}

#memory {
}

#disk {
}

#backlight {
}

#network {
}

#network.disconnected {
}

#pulseaudio {
    /* margin-top: 2px; */
    font-size: 18px;
}

#pulseaudio.muted {
}

#custom-media {
    margin-top: 3px;
    min-width: 100px;
}

#custom-media.custom-spotify {
}

#custom-media.custom-vlc {
}


#custom-wireguard{
    margin-top: 3px;
    /* font-size: 1rem; */
    /* padding: 0 10px; */
}

#custom-powerapplet{
    /* border-radius: 10px; */
    /* padding: 0 15px; */
    /* margin: 0 5px; */
}

#custom-wireguard.active{
}

#custom-bluetoothapplet {
    margin-top: 2px;
    /* font-size: 1rem; */
    /* padding: 0 15px; */
}

#temperature {
}

#temperature.critical {
}

#tray {
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

#idle_inhibitor {
    /* margin-bottom: 1px; */
}

#idle_inhibitor.activated {
}

#mpd {
}

#mpd.disconnected {
}

#mpd.stopped {
}

#mpd.paused {
}

#language {
    min-width: 16px;
    margin-top: 3px;
}

#keyboard-state {
    /* padding: 0 0px; */
    /* margin: 0 5px; */
    /* min-width: 16px; */
}

#keyboard-state > label {
    /* padding: 0 5px; */
}

#keyboard-state > label.locked {
}
